* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: #AD692A;
    --light: #FCE78A;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#AD692A, #FCE78A);
    height: 100vh;
    color: white;
    font-family: 'Inknut Antiqua', sans-serif;
}

header,
main,
footer {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

header {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

header #logo {
    width: 40%;
    padding-left: 30px;
}

header #logo img {
    width: 20%;
}

header nav {
    width: 50%;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

header nav ul li {
    transition: 100ms all;
    padding: 10px;
    border-radius: 5px;
}

header nav ul li:hover {
    background-color: var(--light);
    color: var(--dark);
    cursor: pointer;
}

main {
    height: calc(100vh - 190px);
}

footer {
    height: 10px;
    text-align: center;
}